fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
python-multipart
pandas
numpy
joblib
scikit-learn
imbalanced-learn
xgboost
langchain
langchain-openai
openai
email-validator
redis
httpx
